@import "config/colors";
.flash-box {
  background-color: #38aef0;
  color: white;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}



.chat-side {
  width: 300px;
  color: white;
  float: left;
  display: block;
}

.side-header {
  background-color: #253141;
  height: 100px;
  display: flex; 
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;

  .side-header__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;   
  }   
}
li.side-header__box__menu__new-group {
  display: inline;
  i.fa.fa-edit {
    color: white;
  }
}
li.side-header__box__menu__edit-user {
  display: inline;
  i.fa.fa-cog {
    color: white;
  }
}





.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  box-sizing: border-box;
  }

  .group {
    &__group-name {
      color: white;
      font-size: 15px;
      margin-bottom: 5px;
      }
    .group__latest-message {
      color: white;
      font-size: 11px;
      margin-bottom: 40px;
    }
  }


.chat-main {
  width: calc(100vw - 300px);
  float: left;
  display: block;
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  box-sizing: border-box;
    &__left-box {
      margin-top: 35px;
      box-sizing: border-box;
      &__current-group {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
        list-style: none;
        box-sizing: border-box;
    }
    li.main-header__left-box__member-list__member {
      box-sizing: border-box;
      display: flex;
      font-size: 12px;
      color: #999999
      
    }  
  }  
}



.main-header__edit-btn {
  border: solid 1px #38aef0;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 30px;
  color: #38aef0;
  text-decoration: none;
  }

.messages {
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
  display: block;
  box-sizing: border-box;
  .message {
    padding-bottom: 40px;
    display: block;
    &__upper-info {
      margin-bottom: 10px; 
      display: flex;
      &__talker {
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
        display: block;
      }
      p.message__upper-info__date {
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
        display: block;
      } 
    }
  }
}
p.message__text {
  font-size: 14px;
  color: #434a54;
  margin-bottom: 10px;
  display: block; 
}     

.form {
  height: 90px;
  padding: 0 40px;
  background-color: #ddd;
  box-sizing: border-box;

  
}

.input-box {
  position: relative;
  
  display: inline-flex;

  margin-top: 20px;
}

input[type="text"] {
  height: 50px;
  width: calc(100vw - 545px);
  padding: 0 40px 0 10px;
  color: #434a54;
  border-style: none;
  margin-top: 20px;

}

input.input-box__image__file#message_image {
  display: none;
}
label.input-box__image {
  font-size: 1.3rem;
  position: absolute;
  margin-top: -21px;
  right: 15px;
  cursor: pointer;
} 

input.submit-btn {
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 40px;


  }

